<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="ToDoList.Common.Managers.ISecurityManager, ToDoList.Common"
                mapTo="ToDoList.Business.Managers.SecurityManager, ToDoList.Business"/>
      <register type="ToDoList.Common.Managers.IToDoListManager, ToDoList.Common"
                mapTo="ToDoList.Business.Managers.ToDoListManager,ToDoList.Business "/>
      <register type="ToDoList.Common.Managers.IUserManager, ToDoList.Common"
                mapTo="ToDoList.Business.Managers.UserManager, ToDoList.Business"/>
      <register type="ToDoList.Common.Managers.ISessionContextManager, ToDoList.Common "
                mapTo="ToDoList.Business.Managers.StaticSessionContextManager, ToDoList.Business"/>
      <register type="ToDoList.Common.Managers.Log.ILogManager, ToDoList.Common"
                mapTo="ToDoList.Managers.Log.Log4Net.Log4NetLogManager, ToDoList.Managers.Log.Log4Net"/>
      <!--<register type="ToDoList.Common.Managers.Log.ILogger, ToDoList.Common"
                mapTo="ToDoList.Managers.Log.Log4Net.Log4NetLogger, ToDoList.Managers.Log.Log4Net"/>-->
    </container>
  </unity>
</configuration>